
<!-- Academy search favicon contract -->
<link rel="icon" type="image/png" sizes="96x96" href="https://www.skunkworksacademy.com/images/favicon-search.png" data-skunkworks-favicon="canonical" />
<link rel="shortcut icon" type="image/png" href="https://www.skunkworksacademy.com/images/favicon-search.png" data-skunkworks-favicon="canonical" />
<link rel="icon" type="image/png" sizes="96x96" href="https://www.skunkworksacademy.com/images/favicon-search.png" media="(prefers-color-scheme: light)" data-skunkworks-favicon="canonical" />
<link rel="icon" type="image/png" sizes="96x96" href="https://www.skunkworksacademy.com/images/favicon-search-dark.png" media="(prefers-color-scheme: dark)" data-skunkworks-favicon="canonical" />
